bandwidth-sdk>=14.0.0
cryptography>=43.0.3
email_validator>=2.1.1
firebase-admin>=6.5.0
Flask>=3.0.3
Flask-SQLAlchemy>=3.1.1
google-cloud-logging>=3.10.0
PyMySQL>=1.1.1
PyYAML>=6.0.1
requests>=2.31.0
