# This file specifies files that are *not* uploaded to Google Cloud Platform
# using gcloud. It follows the same syntax as .gitignore, with the addition of
# "#!include" directives (which insert the entries of the given .gitignore-style
# file at that point).
#
# For more information, run:
#   $ gcloud topic gcloudignore

# ignore this file itself
.gcloudignore
# ignore Git stuff
.git
.gitignore
# ignore README.md
README.md
# ignore Python virtual environment
venv
# ignore Python caches
__pycache__
.pytest_cache
# ignore VS code settings
.vscode
# ignore tests
tests
requirements-test.txt
# ignore the configuration file template (but not the real one!)
config-template.py
# ignore local testing Unix socket folder
cloudsql
# ignore database scripts
db-scripts
# ignore Firebase Admin SDK credentials (these will already be present in the App Engine environment)
firebase-admin-sdk-credentials.json
# ignore code coverage files
.coveragerc
.coverage
htmlcov
# ignore Mac backup stuff
.DS_Store
# ignore analysis code
analysis
