# ignore VS Code settings
.vscode
# ignore Python caches
__pycache__
.pytest_cache
# ignore virtual environment
venv
# ignore the configuration file (avoid pushing keys or passwords to version control)
config.py
# ignore local testing Unix socket folder
cloudsql
# ignore Firebase Admin SDK credentials
firebase-admin-sdk-credentials.json
# ignore generated code coverage files
.coverage
htmlcov
# ignore Mac backup stuff
.DS_Store
# ignore spatial data files that change daily
analysis/data/spatial/outputs/ndfd_sco_data/*.tif
# ignore tabular data files that change daily
analysis/data/tabular/outputs/cronjob_data/*.err
analysis/data/tabular/outputs/cronjob_data/*.out
analysis/data/tabular/outputs/ndfd_sco_data/*.csv
analysis/data/tabular/outputs/terminal_data/*.txt
# these aren't being ignored (not sure why)
# don't ignore appended csv data in analysis/data/tabular/outputs/ndfd_sco_data_appended
# ignore r history file
.Rhistory
.Rproj.user
