**/__pycache__
.idea/
.DS_Store

**/cloud-sql-proxy
**/cloud-sql-proxy-connect.sh
**/sqlauthproxy*
**/config.sh
**/config.ini
**/tpxmrg_inventory.json
**/delete
**/bin
**/dependencies
logs/
tests/
raw/
intermediate/
outputs/
**/lease_db_data.py
node_modules/
venv/

# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron
/web/requirements.txt

/analysis/shellcast-analysis/ncep-lib-utils/NCEPLIBS-bacio/
/analysis/shellcast-analysis/ncep-lib-utils/NCEPLIBS-bufr/
/analysis/shellcast-analysis/ncep-lib-utils/NCEPLIBS-g2/
/analysis/shellcast-analysis/ncep-lib-utils/NCEPLIBS-grib_util/
/analysis/shellcast-analysis/ncep-lib-utils/NCEPLIBS-ip/
/analysis/shellcast-analysis/ncep-lib-utils/NCEPLIBS-sp/
/analysis/shellcast-analysis/ncep-lib-utils/NCEPLIBS-w3emc/
.python-version
analysis/shellcast-analysis/small.grb


/data_prep/fl/data/
