# ignore VS Code settings
.vscode
# ignore Python caches
__pycache__
.pytest_cache
# ignore virtual environment
venv
# ignore the configuration file (avoid pushing keys or passwords to version control)
config.py
# ignore local testing Unix socket folder
cloudsql
# ignore Firebase Admin SDK credentials
firebase-admin-sdk-credentials.json
