class Config(object):
  DEBUG = False
  TESTING = False
  MAPS_API_KEY = 'api-key-goes-here'
  DB_USER = 'user'
  DB_PASS = 'password'
  DB_NAME = 'database-name'
  CLOUD_SQL_INSTANCE_NAME = 'instance-name'

class DevConfig(Config):
  DEBUG = True
  HOST = '127.0.0.1'
  PORT = 3361

class TestConfig(Config):
  TESTING = True
