{% extends "base.html" %} {% block common_js %}{% endblock %} {% block additional_head %}{% endblock
%} {% block content %} {#
<!-- Content -->
#}
<div class="d-flex flex-column" style="min-height: 100%">
  <div class="content index-content">
    <div class="cards-wrapper">
      <div class="card-deck">
        <div class="card">
          <img class="card-img-top" src="static/img/nc.jpg" alt="NC state blue" />
          <div class="card-body">
            <div class="text-center">
              <a href="/map" class="btn btn-primary" style="width: 90%">North Carolina</a>
            </div>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="static/img/sc.jpg" alt="SC state blue" />
          <div class="card-body">
            <div class="text-center">
              <a
                href="https://shellcast-sc-dot-ncsu-shellcast.appspot.com/map"
                class="btn btn-primary"
                style="width: 90%"
                >South Carolina</a
              >
            </div>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="static/img/fl.jpg" alt="FL state blue" />
          <div class="card-body">
            <div class="text-center">
              <a
                href="https://shellcast-fl-dot-ncsu-shellcast.appspot.com/map"
                class="btn btn-primary"
                style="width: 90%"
              >
                Florida</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
