{% extends "base.html" %}

{% block title %}Preferences - ShellCast{% endblock %}

{% block additional_head %}
  <!-- Custom JS -->
  <script defer src="{{ url_for('static', filename='common/common.js') }}" type="module"></script>
  <script defer src="{{ url_for('static', filename='preferences/preferences.js') }}" type="module"></script>
  <!-- Custom CSS -->
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='preferences/preferences.css') }}">
{% endblock %}

{% block content %}
  <h1 class="page-main-header">Preferences</h1>

  <div id="user-signed-out" style="height: 100vh"></div>

  <div id="user-signed-in" style="display: none">
    <br>
    <div id="delete-account-div">
      <button class="btn btn-danger" type="button" id="delete-account-btn"
              onclick="$('#account-deletion-modal').modal('show');">Delete Account
      </button>
    </div>
    <br>
    <div id="forms">

      {# Notification Preferences Form #}
      <form class="needs-validation mb-5 notification-preferences-form" id="profile-information-form">

        <h2 class="form-section-title">My Notification Preferences</h2>

        {# Notification Preferences with Accordions #}
        <div class="form-section notification-preferences">
          <h3>Notification Preferences</h3>

          <div class="preference-group">
            <label class="form-label">I want to receive the following notifications:</label>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" name="no-notifications" id="no-notifications">
              <label class="form-check-label" for="no-notifications">I do not want to receive notifications</label>
            </div>

            {# Email Accordion #}
            <div class="notification-accordion">
              <div class="accordion-header">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="email-pref" id="email-pref">
                  <label class="form-check-label" for="email-pref">Email</label>
                </div>
                <div class="accordion-controls">
                  <button type="button" class="btn btn-sm btn-outline-secondary" id="email-expand-btn" title="Expand">
                    +
                  </button>
                  <button type="button" class="btn btn-sm btn-outline-secondary" id="email-collapse-btn" title="Collapse" style="display: none;">
                    −
                  </button>
                </div>
              </div>
              <div class="accordion-content" id="email-accordion">
                <div class="accordion-body">
                  <div class="accordion-tabs">
                    <button type="button" class="accordion-tab active" data-tab="email-input">Email Address</button>
                    <button type="button" class="accordion-tab" data-tab="email-example">Notification Example</button>
                  </div>

                  <div class="accordion-tab-content active" id="email-input">
                    <label for="email-address" class="form-label">Email address</label>
                    <input type="email" class="form-control" name="email-address" id="email-address" placeholder="you@example.com"
                           aria-describedby="emailHelp">
                    <div class="invalid-feedback">
                      Please enter a valid email address.
                    </div>
                    <small id="emailHelp" class="form-text text-muted">
                      This email address is initially pulled from the linked account you
                      used to create your ShellCast account (for example, Gmail,
                      Facebook), however, you can safely change this while not changing
                      your linked account. If you choose to receive email notifications
                      with ShellCast forecast information for your lease(s), the
                      notifications will be sent to this address.
                    </small>

                    <div class="consent-section mt-4">
                      <div class="form-check consent-checkbox">
                        <input class="form-check-input" type="checkbox" name="email-consent" id="email-consent">
                        <label class="form-check-label" for="email-consent">
                          By submitting your email address, you consent to receiving email notifications
                          about lease closures and forecast information, maintenance updates, and other
                          ShellCast-related notifications from ShellCast.</br>
                          <ul class="mb-0">
                            <li>Message frequency may vary.</li>
                            <li>You can opt out at any time by clicking <u>Unsubscribe</u> in any notification email or
                              update your preferences by visiting the <i>Preferences</i> page on the
                              <a href="https://ncsu-shellcast.appspot.com/">https://go.ncsu.edu/shellcast</a>.</li>
                            <li>For assistance, contact us at <a href="mailto:shellcastapp@ncsu.edu">shellcastapp@ncsu.edu</a>.</li>
                            <li>The <a href="/notification-service">Terms of Conditions and Privacy Policy</a>
                              are available for review.</li>
                          </ul>
                        </label>
                      </div>
                    </div>

                    {# Email Notification Status Message #}

                    <div class="notification-status mt-3">
                      <small id="email-notification-status" role="alert" class="alert"></small>
                    </div>
                  </div>

                  <div class="accordion-tab-content" id="email-example">
                    <div class="example-group">
                      <label for="example-email-notification" class="form-label">Email Message Example:</label>
                      <div class="text-bubble" id="example-email-notification">
                        <img src="{{ url_for('static', filename='img/preference/notification_email_message_example.png') }}" alt="Email Message Example" style="max-width: 100%; height: auto; display: block; margin: 0 auto;">
                      </div>
                      <small class="form-text text-muted">
                        This is an example of an email notification you might receive for a lease.
                      </small>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            {# Text Accordion #}
            <div class="notification-accordion">
              <div class="accordion-header">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="text-pref" id="text-pref">
                  <label class="form-check-label" for="text-pref">Text</label>
                  <!-- <small class="text-danger ml-2">
                    <i class="fas fa-exclamation-triangle"></i> Temporarily unavailable for system update
                  </small> -->
                </div>
                <div class="accordion-controls">
                  <button type="button" class="btn btn-sm btn-outline-secondary" id="text-expand-btn" title="Expand">
                    +
                  </button>
                  <button type="button" class="btn btn-sm btn-outline-secondary" id="text-collapse-btn" title="Collapse" style="display: none;">
                    −
                  </button>
                </div>
              </div>
              <div class="accordion-content" id="text-accordion">
                <div class="accordion-body">
                  <div class="accordion-tabs">
                    <button type="button" class="accordion-tab active" data-tab="text-input">Phone Number</button>
                    <button type="button" class="accordion-tab" data-tab="text-example">Notification Example</button>
                  </div>

                  <div class="accordion-tab-content active" id="text-input">
                    <label for="phone-number" class="form-label">Mobile phone number</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <div class="input-group-text">+1</div>
                      </div>
                      <input type="tel" class="form-control" name="phone-number" id="phone-number" placeholder="(***) ***-****"
                             aria-describedby="phoneHelp">
                    </div>
                    <div class="invalid-feedback" style="width: 100%;">
                      Please enter a valid phone number.
                    </div>
                    <small id="phoneHelp" class="form-text text-muted">
                      This phone number must be able to receive text messages (SMS).
                      If you choose to receive text notifications with ShellCast
                      forecast information for your lease(s), the notifications will
                      be sent to this number. Message and data rates may apply.
                    </small>

                    <div class="consent-section mt-4">
                      <div class="form-check consent-checkbox">
                        <input class="form-check-input" type="checkbox" name="text-consent" id="text-consent">
                        <label class="form-check-label" for="text-consent">
                          By submitting your mobile phone number, you consent to receiving text
                          message notifications about lease closures and forecast information from ShellCast.
                          <ul class="mb-0">
                            <li>Consent is not a condition of purchase.</li>
                            <li>Message frequency varies.</li>
                            <li>Message and data rates may apply.</li>
                            <li>For support, reply <b>HELP</b> or email us at <a href="mailto:shellcastapp@ncsu.edu">shellcastapp@ncsu.edu</a>.</li>
                            <li>You can opt out at any time by replying <b>STOP</b> or update your preferences by
                              visiting the <i>Preferences</i> page on the
                              <a href="https://ncsu-shellcast.appspot.com/">https://go.ncsu.edu/shellcast</a>.</li>
                            <li>The <a href="/notification-service">Terms of Conditions and Privacy Policy</a>
                              are available for review.</li>
                          </ul>
                        </label>
                      </div>
                    </div>

                    {# Text Notification Status Message #}
                    <div class="notification-status mt-3">
                      <small id="text-notification-status" role="alert" class="alert"></small>
                    </div>
                  </div>

                  <div class="accordion-tab-content" id="text-example">
                    <div class="example-group">
                      <label for="example-notification" class="form-label">Text Message Example:</label>
                      <div class="text-bubble" id="example-notification">
                        <p>
                          ShellCast: One or more your leases is at risk of closing today, tomorrow, or in 2 days.
                          Visit <a href="https://ncsu-shellcast.appspot.com/">go.ncsu.edu/shellcast</a> for details.
                          Reply STOP to cancel.
                        </p>
                      </div>
                      <small class="form-text text-muted">
                        This is an example of a text message notification you might receive for a lease.
                      </small>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <small class="form-text text-muted muted">
              If you would like to receive both email and text notifications,
              check both "Email" and "Text". If you choose not to receive
              notifications, you will still see your lease sites on the
              ShellCast webpage.
            </small>
          </div>

          <div class="preference-group">
            <label class="form-label">I want to receive notifications for my leases when the risk of temporary harvest closure is:</label>
            {% for probOption in probOptions %}
              <div class="form-check">
                <input class="form-check-input" type="radio" name="notification-prob"
                       id="notification-prob-{{ probOption }}" value="{{ probOption }}">
                <label class="form-check-label"
                       for="notification-prob-{{ probOption }}"> {{ probabilityToRisk(probOption) }}{% if probabilityToRisk(probOption) != "Very High" %} or higher{% endif %}</label>
              </div>
            {% endfor %}
            <small class="form-text text-muted muted">
              Choose the risk category at which you would like to receive notifications for a lease.
              For example, if you choose "Moderate or higher", you will receive a notification when
              any one of your leases has at least a moderate risk of being temporarily closed today,
              tomorrow, or in 2 days. We believe you are more likely to receive inaccurate closure warnings
              if you select "Moderate or higher" since less rainfall would be needed to trigger a notification,
              and weather forecasts predict small storms less accurately than large storms.
            </small>
          </div>
        </div>


        {# Form Actions #}
        <div class="form-actions">
          <div id="profile-form-help-text" class="form-text" role="status" aria-live="polite"></div>
          <button class="btn btn-secondary" type="button" name="prof-form-cancel-btn" disabled>Cancel</button>
          <button class="btn btn-primary" type="button" name="prof-form-save-btn" disabled>Submit</button>
        </div>
      </form>

      {# User leases #}
      <div class="needs-validation mb-5 notification-preferences-form">
        <h2 class="form-section-title">My Leases</h2>

        <div class="lease-info">
          <p class="lease-description">
            You can search for your lease ID number on the
            <a href="https://arcg.is/1ieXrX">NC DMF Shellfish Leasing Application</a>.
            Use the number labeled as "Lease ID". Please note that leases outside of
            conditionally approved areas will not be searchable because ShellCast cannot
            generate a forecast for these leases.
          </p>
        </div>

        <div class="search-section">
          <label for="lease-search-text-input" class="form-label">Search for Leases</label>
          <div class="input-group">
            <input id="lease-search-text-input" type="text" class="form-control search-input"
                   placeholder="Search for a lease by its NCDMF ID..." aria-label="Search for a lease by its NCDMF ID...">
            <div class="input-group-append">
              <button class="btn btn-primary" type="button" id="lease-search-btn">Search</button>
              <button class="btn btn-secondary" type="button" id="lease-clear-btn">Clear</button>
            </div>
          </div>

          <div class="list-group search-results" id="lease-search-results"></div>
        </div>

        <div id="leases" class="leases-container">
          <div class="accordion" id="leases-accordion">
            {# leases are programmatically added here with JS #}
          </div>
        </div>
      </div>

    </div>
  </div>

  {# <!-- Account Deletion Modal --> #}
  <div class="modal fade" id="account-deletion-modal" tabindex="-1" aria-labelledby="account-deletion-label"
       aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="account-deletion-label">Delete Account?</h5>
        </div>
        <div class="modal-body">
          <p>
            Are you sure that you want to delete your account?
          </p>
          <p>
            Your email address, phone number, mobile phone service provider, and
            notification preferences will be removed from our database. You can
            choose to make a new account with the same information later.
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" onclick="$('#account-deletion-modal').modal('hide');">Cancel
          </button>
          <button type="button" class="btn btn-danger" id="confirm-account-deletion-btn">Delete Account</button>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
