.content {
  height: 100%;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 50vh auto;
  grid-template-areas: 
    "m m m m"
    "t t t t";
}

#closure-map {
  grid-area: m;
}

#closure-tables {
  grid-area: t;
}
