.content {
  height: 100%;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto 50vh auto;
  grid-template-areas:
    "d d d d d d"
    "m m m m m m"
    "t t t t t t";
}

#disclaimer {
  grid-area: d;
}

#closure-map {
  grid-area: m;
}

#closure-tables {
  grid-area: t;
}

@media only screen and (min-width: 992px)  {
  .content {
    grid-template-rows: 50vh auto;
    grid-template-areas:
      "d m m m m m"
      "t t t t t t";
  }
}