.content {
  padding: 1rem;
}

#closure-map {
  height: 60vh;
}

.navbar-nav .dropdown-menu {
  float: left;
  min-width: 0;
}

.dropdown {
  cursor: pointer;
}

.dropdown-item {
  cursor: pointer;
}
