{% extends "base.html.jinja" %}

{% block title %}About Us - ShellCast{% endblock %}

{% block additional_head %}
  <!-- Custom CSS -->
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='about/about.css') }}">
{% endblock %}

{% block content %}
  <div class="container">

    <h1>ShellCast Team</h1>
    {# Sheila Saia #}
    <div class="card mb-3">
      <div class="row team-bio">
        <div class="col-md-4 bio-image-container">
          <img src="{{ url_for('static', filename='img/sheila_saia.jpg') }}" class="bio-image" alt="Sheila Saia">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Sheila Saia, Ph.D., Data Scientist</h5>
            <h5 class="website-link"><a href="https://sheilasaia.rbind.io/">sheilasaia.rbind.io</a></h5>
            <p class="card-text">
              Sheila is a postdoctoral researcher in the Biological and Agricultural
              Engineering Department at NC State. She received her BS degree in Biological
              Engineering from Binghamton University and MS and PhD degrees in Biological and
              Environmental Engineering from Cornell University. Clams are her favorite
              shellfish, especially in chowder or on top of linguini.
            </p>
          </div>
        </div>
      </div>
    </div>
    {# Stanton Parham #}
    <div class="card mb-3">
      <div class="row team-bio">
        <div class="col-md-4 bio-image-container">
          <img src="{{ url_for('static', filename='img/stanton_parham.jpg') }}" class="bio-image" alt="Stanton Parham">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Stanton Parham, Web Developer</h5>
            <h5 class="website-link"><a href="https://stparham.com">stparham.com</a></h5>
            <p class="card-text">
              Stanton is a Master’s student in the Department of Computer Science at NC State.
              He received his BS degree in Computer Science and BA degree in International Studies
              from North Carolina State University.  He doesn't eat shellfish much, but still
              enjoys helping out those who do.
            </p>
          </div>
        </div>
      </div>
    </div>
    {# Laura Gomez Rodriguez #}
    <div class="card mb-3">
      <div class="row team-bio">
        <div class="col-md-4 bio-image-container">
          <img src="{{ url_for('static', filename='img/laura_gomez_rodriguez.png') }}" class="bio-image" alt="Laura Gomez Rodriguez">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Laura Gomez Rodriguez, Undergraduate Researcher</h5>
            {# <h5 class="website-link"><a href=""></a></h5> #}
            <p class="card-text">
              Laura is an undergraduate student in the Biological and Agricultural
              Engineering Department at NC State and a <a href="https://goodnight.ncsu.edu/">Goodnight Scholar</a>.
              She is majoring in Biological Engineering with a concentration in
              Environmental Engineering and minoring in Non-Profit Studies. Her
              favorite shellfish to eat are clams, in particular she loves clam chowder.
            </p>
          </div>
        </div>
      </div>
    </div>
    {# Natalie Nelson #}
    <div class="card mb-3">
      <div class="row team-bio">
        <div class="col-md-4 bio-image-container">
          <img src="{{ url_for('static', filename='img/natalie_nelson.jpg') }}" class="bio-image" alt="Natalie Nelson">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Natalie Nelson, Ph.D., Principal Investigator</h5>
            <h5 class="website-link"><a href="https://nelson.rbind.io/">nelson.rbind.io</a></h5>
            <p class="card-text">
              Natalie is an Assistant Professor in the Biological and Agricultural Engineering
              Department at NC State. She received her degrees in Agricultural and Biological
              Engineering from the University of Florida with a focus on predictive modeling and
              water quality. Oysters are her favorite shellfish, especially on the half shell
              with mignonette sauce.
            </p>
          </div>
        </div>
      </div>
    </div>

    <h1>ShellCast Support</h1>
    <p>
      ShellCast is funded by <a href="https://ncseagrant.ncsu.edu/">North Carolina Sea Grant</a>.
    </p>
    <p>
      We would also like to thank collaborators at the
      <a href="http://portal.ncdenr.org/web/mf/">North Carolina Division of Marine Fisheries</a>,
      <a href="https://www.weather.gov/">National Weather Service</a>, 
      <a href="https://climate.ncsu.edu/">North Carolina State Climate Office</a>,
      North Carolina Shellfish Growers Association,
      <a href="https://oit.ncsu.edu/about/units/occ/">Outreach, Communications, and Consulting (OCC) Unit of the NC State Office of Information Technology Office</a>,
      <a href="https://projects.ncsu.edu/hpc/main.php">NC State High Performance Computing (HPC) Services</a>, and
      <a href="https://vcl.ncsu.edu/">NC State Virtual Computing Lab (VCL) Services</a>.
      We are grateful for help from Everette Allen, Walt Turner, and Crystal Tenan of OCC,
      Lisa Lowe of HPC, and Aaron Peeler, and Josh Thompson of VCL.
    </p>

    <h1>Contact Us</h1>
    <p>
      If you have any questions for us or feedback regarding the ShellCast web
      application, please email us at <a href="mailto:shellcastapp@ncsu.edu">shellcastapp@ncsu.edu</a>.
    </p>

  </div>
{% endblock %}
