<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>{% block title %}ShellCast{% endblock %}</title>
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/icon/favicon.ico') }}">
  <link rel="manifest" href="{{ url_for('static', filename='manifest.webmanifest') }}">

  <meta name="description" content="Temporary closure forecasts for NC shellfish waters">
  <meta name="keywords" content="shellfish,rainfall,conditionally approved,growing area,waters,harvest,temporary,closure,closed,north carolina,nc,nc state,ncsu,biosystems,analytics">

{% block ncsu_bootstrap_css %}
  {# <!-- NC State Bootstrap CSS --> #}
  <link href="https://cdn.ncsu.edu/brand-assets/bootstrap-4/css/bootstrap.min.css" rel="stylesheet">
{% endblock %}

{% block bootstrap_js %}
  {# <!-- Bootstrap JS --> #}
  <script defer src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script defer src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% endblock %}

{% block firebase_js %}
  {# <!-- Firebase JS --> #}
  <script defer src="https://www.gstatic.com/firebasejs/7.14.6/firebase-app.js"></script>
  <script defer src="https://www.gstatic.com/firebasejs/7.14.6/firebase-auth.js"></script>
{% endblock %}

{% block common_css %}
  {# <!-- Custom CSS --> #}
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='common/common.css') }}">
{% endblock %}

{% block common_js %}
  {# <!-- Custom JS --> #}
  <script defer src="{{ url_for('static', filename='common/common.js') }}"></script>
{% endblock %}

{% block additional_head %}{% endblock %}
</head>
<body>

{# get the name of the current page #}
{% set curPageName = self._TemplateReference__context.name.split(".")[0] %}

{# define the element used to indicate the current nav link for screen readers #}
{% set srCurNav %}
  <span class="sr-only"> (current)</span>
{% endset %}

{# a macro for creating a nav item in the nav bar #}
{% macro navLink(pageName, navRoute, navItemText) -%}
  {% if curPageName == pageName %}
    <a class="nav-item nav-link active" href="#">{{ navItemText ~ srCurNav }}</a>
  {% else %}
    <a class="nav-item nav-link" href="{{ navRoute }}">{{ navItemText }}</a>
  {% endif %}
{%- endmacro %}

{# the set of nav items to display in the nav bar #}
{% set navItems = [("index", "/", "Map"), ("about", "/about", "About")] %}

{% block navigation %}
{# <!-- Navigation --> #}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary" id="navigation-bar">
  <a class="navbar-brand" href="{{ '#' if curPageName == 'index' else '/' }}">
    <img src="{{ url_for('static', filename='img/shellcast_logo.png') }}" height="40" class="navbar-logo" alt="ShellCast logo" loading="lazy">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-stretch" id="navbar">
    {# Navbar for navigation links #}
    <div class="navbar-nav">
      {# iterate through navItems to construct the nav bar#}
      {% for pageName, navRoute, navItemText in navItems -%}
        {{- navLink(pageName, navRoute, navItemText) -}}
      {%- endfor %}
    </div>

    {# Navbar for account dropdown menu #}
    <div class="navbar-nav ml-auto">
      <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="account-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Account
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="accountDropdown">
          <a class="dropdown-item" id="account-dropdown-preferences" href="/preferences">Manage preferences</a>
          <button class="dropdown-item" id="account-dropdown-sign-out">Sign out</button>
          <a class="dropdown-item" id="account-dropdown-sign-in" href="/signin">Sign in</a>
        </div>
      </div>
    </div>

  </div>
</nav>
{% endblock %}

{# <!-- Content --> #}
<div class="content">
  {% block content %}
  {% endblock %}
</div>

{% block footer %}
{# <!-- Footer --> #}
<footer>
  <p>ShellCast is supported by</p>
  <div class="support-logos">
    <a href="https://ncseagrant.ncsu.edu/"><img src="{{ url_for('static', filename='img/nc_sea_grant_logo.png') }}" alt="NC Sea Grant" loading="lazy"></a>
    <a href="https://www.bae.ncsu.edu/"><img src="{{ url_for('static', filename='img/nc_state_bae_logo.png') }}" alt="NC State Biological and Agricultural Engineering" loading="lazy"></a>
  </div>
  
</footer>
{% endblock %}

</body>
</html>
