{% extends "base.html.jinja" %}

{% block additional_head %}
  <!-- Bootstrap Table -->
  <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.css">
  <script defer src="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.js"></script>

  <!-- Custom JS -->
  <script defer src="https://maps.googleapis.com/maps/api/js?key= {{- mapsAPIKey -}} "></script>
  <script defer src="{{ url_for('static', filename='index/index.js') }}"></script>
  <!-- Custom CSS -->
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='index/index.css') }}">
{% endblock %}

{% block content %}
  <div class="text-justify">
    <p id="disclaimer">Disclaimer: The predictions shown within this app are in no way indicative of whether or not your lease will be closed.  Please use this only as a planning tool and seek out proper closure information from {blank}.</p>
    <p><strong>Last updated: {{lastUpdated}} ({{hoursAgo}} hours ago)</strong></p>
  </div>

  <div id="closure-map"></div>

  <br>

  <div id="closure-tables">

    <div id="lease-table-div">
      <div id="lease-table-toolbar">
        <h4>My Lease Closure Probabilities</h4>
      </div>
      <table
        id="lease-table"
        data-classes="table table-bordered table-hover table-sm"
        data-toggle="table"
        data-search="true"
        data-height="200"
        data-toolbar="#lease-table-toolbar">
        <thead>
          <tr>
            <th data-sortable="true" data-field="ncdmf_lease_id">Lease ID</th>
            <th data-field="prob_1d_perc">1-day (%)</th>
            <th data-field="prob_2d_perc">2-day (%)</th>
            <th data-field="prob_3d_perc">3-day (%)</th>
          </tr>
        </thead>
      </table>
    </div>

    <div id="lease-table-explanation"><p>Explanation text for the lease table goes here.</p></div>

    <div id="area-table-div">
      <div id="area-table-toolbar">
        <h4>Grow Area Closure Probabilities</h4>
      </div>
      <table
        id="area-table"
        data-classes="table table-bordered table-hover table-sm"
        data-toggle="table"
        data-search="true"
        data-height="200"
        data-toolbar="#area-table-toolbar">
        <thead>
          <tr>
            <th data-sortable="true" data-field="grow_area">Grow Area</th>
            <th data-field="min_max_1d_prob">1-day Min/Max (%)</th>
            <th data-field="min_max_2d_prob">2-day Min/Max (%)</th>
            <th data-field="min_max_3d_prob">3-day Min/Max (%)</th>
          </tr>
        </thead>
      </table>
    </div>

    <div id="area-table-explanation"><p>Explanation text for the grow area table goes here.</p></div>

  </div>
{% endblock %}
