{% extends "base.html.jinja" %}

{% block title %}Preferences - ShellCast{% endblock %}

{% block additional_head %}
  <!-- FirebaseUI CSS -->
  <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.css" />

  <!-- FirebaseUI JS -->
  <script defer src="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.js"></script>

  <!-- Custom JS -->
  <script defer src="{{ url_for('static', filename='preferences/preferences.js') }}"></script>
  <!-- Custom CSS -->
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='preferences/preferences.css') }}">
{% endblock %}

{% block content %}
  <h1 class="page-main-header">Preferences</h1>

  <div id="user-signed-out" style="height: 100vh"></div>

  <div id="user-signed-in" style="display: none">
    <div id="forms">

      {# Generic profile information #}
      <form class="needs-validation mb-4" id="profile-information-form">
        <h4>My Profile Information</h4>
        <div class="mb-3">
          <label for="email">Email address</label>
          <input type="email" class="form-control" name="email-address" id="email-address" placeholder="you@example.com" aria-describedby="emailHelp">
          <div class="invalid-feedback">
            Please enter a valid email address.
          </div>
          <small id="emailHelp" class="form-text text-muted">
            This email address is associated with the account you used to
            create the account (for example, Gmail, Facebook). If you
            choose to receive email notifications with ShellCast forecast
            information for your lease(s), the notifications will be sent 
            to this address.
          </small>
        </div>

        <div class="form-row">
          <div class="mb-3 col" style="min-width: 300px;">
            <label for="phone-number">Mobile phone number</label>
            <div class="input-group">
              <div class="input-group-prepend"><div class="input-group-text">+1</div></div>
              <input type="tel" class="form-control" name="phone-number" id="phone-number" placeholder="(111) 222-3333" aria-describedby="phoneHelp">
              <div class="invalid-feedback" style="width: 100%;">
                Please enter a valid phone number.
              </div>
              <small id="phoneHelp" class="form-text text-muted" style="width: 100%;">
                This phone number must be able to receive text messages (MMS).
                If you choose to receive text notifications with ShellCast
                forecast information for your lease(s), the notifications will
                be sent to this number. Messaging rates may apply.
              </small>
            </div>
          </div>
          <div class="mb-3 col" style="min-width: 300px;">
            <label for="service-provider">Mobile service provider</label>
            <select class="form-control" id="service-provider" name="service-provider">
              <option value="">-- Select one --</option>
            {% for provider in serviceProviders %}
              <option value="{{ provider.id }}">{{ provider.name }}</option>
            {% endfor %}
            </select>
            <small id="serviceHelp" class="form-text text-muted" style="width: 100%;">
              Providing your mobile phone service provider allows us to send you text messages through your
              provider's MMS email gateway. This is much less expensive than sending you a message from a
              texting service and helps us to reduce our cost of operation.
            </small>
          </div>
        </div>

        <div style="text-align: right;">
          <button class="btn btn-primary" type="button" name="prof-form-cancel-btn" disabled>Cancel</button>
          <button class="btn btn-primary" type="button" name="prof-form-save-btn" disabled>Save</button>
        </div>
      </form>

      {# Lease preferences #}
      <h4>My Leases</h4>
      <p>You can add a lease by searching for it by its NCDMF ID.</p>

      <div class="mb-3 search-bar">
        <div class="input-group">
          <input id="lease-search-text-input" type="text" class="form-control search-input" placeholder="Add a lease by searching for it by its NCDMF ID..." aria-label="Add a lease by searching for it by its NCDMF ID" aria-describedby="lease-search-btn">
          <div class="input-group-append">
            <button class="btn btn-primary" type="button" id="lease-search-btn">Search</button>
            <button class="btn btn-primary" type="button" id="lease-clear-btn">Clear</button>
          </div>
        </div>

        <div class="list-group search-results" id="lease-search-results"></div>
      </div>

      <div id="leases">
        <div class="accordion" id="leases-accordion">
          {# leases are programmatically added here with JS #}
        </div>
      </div>

    </div>
  </div>
{% endblock %}
