{% extends "base.html.jinja" %}

{% block title %}Preferences - ShellCast{% endblock %}

{% block additional_head %}
  <!-- FirebaseUI CSS -->
  <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.css" />

  <!-- FirebaseUI JS -->
  <script defer src="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.js"></script>

  <!-- Custom JS -->
  <script defer src="{{ url_for('static', filename='preferences.js') }}"></script>
{% endblock %}

{% block content %}
  <h1>Preferences</h1>
  <div id="user-signed-out" style="display: none">
    <p>Creating an account with ShellCast allows you to add your own lease information and receive personalized notifications about potential lease closures.</p>
    <a role="button" class="btn btn-primary" id="sign-in" href="/signin?mode=select&signInSuccessUrl=/preferences">Sign in</a>
  </div>
  <div id="user-signed-in" style="display: none">
    <p>You are signed in.</p>
    <button type="button" class="btn btn-primary" id="sign-out">Sign out</button>
    <button type="button" class="btn btn-primary" id="test-btn">Test button</button>
  </div>
{% endblock %}
