{% extends "base.html.jinja" %}

{% block title %}Sign in - ShellCast{% endblock %}

{# Remove Bootstrap JS #}
{% block bootstrap_js %}{% endblock %}

{% block additional_head %}
  <!-- FirebaseUI CSS -->
  <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.css" />

  <!-- FirebaseUI JS -->
  <script defer src="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.js"></script>

  <!-- Custom JS -->
  <script defer src="{{ url_for('static', filename='signin/signin.js') }}"></script>

  <!-- Custom CSS -->
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='signin/signin.css') }}">
{% endblock %}

{# Remove navigation #}
{% block navigation %}{% endblock %}

{% block content %}
  <h1>NCSU ShellCast</h1>
  <p>Creating an account with ShellCast allows you to add your own lease information and receive personalized notifications about potential lease closures.</p>
  <p>Please sign in to the ShellCast application using one of the authentication options below.</p>
  <div id="firebaseui-container"></div>
{% endblock %}
