{% extends "base.html.jinja" %}

{% block title %}Sign in - ShellCast{% endblock %}

{# Remove Bootstrap JS #}
{% block bootstrap_js %}{% endblock %}

{% block additional_head %}
  <!-- FirebaseUI CSS -->
  <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.css" />

  <!-- FirebaseUI JS -->
  <script defer src="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.js"></script>

  <!-- Custom JS -->
  <script defer src="{{ url_for('static', filename='signin/signin.js') }}"></script>

  <!-- Custom CSS -->
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='signin/signin.css') }}">
{% endblock %}

{# Remove navigation #}
{% block navigation %}{% endblock %}

{% block content %}
  <div class="container">
    <img src="{{ url_for('static', filename='img/shellcast_logo.png') }}" id="shellcast-logo" height="70" width="274" alt="ShellCast logo" loading="lazy">
    <p>
      Creating an account with ShellCast is easy, free, and allows you to
      receive temporary closure forecasts for your leases. With an account,
      you will be able to see your lease forecasts on the ShellCast map,
      and also have the option of receiving email or text notifications
      with lease forecast information. Receiving forecasts specific to your
      leases can be useful since leases in a single shellfish growing area
      can have different lease closure rainfall thresholds.
    </p>
    <p>
      To create an account or sign-in to an existing account, use one of
      the authentication options below. You must use an authentication
      option to create an account.
    </p>
    <div id="firebaseui-container"></div>
  </div>
{% endblock %}
