#forms {
  margin: auto;
  max-width: 900px;
}

.search-bar {
  position: relative;
}

.search-results {
  display: none;
  position: absolute;
  z-index: 1000;
  width: 100%;
  max-height: 175px;
  overflow: hidden;
  overflow-y: scroll;
  border: 1px solid #999;
  border-top: 0 solid #fff;
}

.notification-options > label {
  display: block;
  margin-top: 8px;
  margin-bottom: 0;
}

.lease-form-buttons {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
