.content {
  padding: 0.5rem;
}

.navbar-nav .dropdown-menu {
  float: left;
  min-width: 0;
}

.dropdown {
  cursor: pointer;
}

.dropdown-item {
  cursor: pointer;
}

.navbar-brand {
  padding-bottom: 0;
}

.navbar-logo {
  position: relative;
  top: -5px;
}

@media only screen and (min-width: 992px) {
  .navbar-logo {
    top: -8px;
  }
}

.page-main-header {
  text-align: center;
}
