#closure-map {
  height: 70vh;
}

#closure-tables {
  display: flex;
  flex-direction: column;
}

#lease-table-div {
  grid-area: l;
}

#growing-unit-table-div {
  grid-area: a;
}

#lease-table-div .fixed-table-container.fixed-height {
  height: 20vh !important;
}

#growing-unit-table-div .fixed-table-container.fixed-height {
  height: 30vh !important;
}

#lease-table-explanation {
  grid-area: il;
  padding: 10px;
}

#growing-unit-table-explanation {
  grid-area: ia;
  padding: 10px;
}

.date-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 1rem;
}

.date-info p {
  margin: 0;
  margin-right: 1rem;
  display: inline-block;
}

/* Changes for wide screens */
@media only screen and (min-width: 992px) {
  #closure-tables {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
    grid-template-areas:
      "il l l"
      "ia a a";
  }
}