<!-- com.shellcast.dailyanalysis.cronjob.plist -->
<!-- store in the ~/Library/LaunchAgents folder -->
<!-- launchd man: https://www.manpagez.com/man/5/launchd.plist/ -->
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>

<!-- define change log event label -->
  <key>Label</key>
  <string>com.shellcast.dailyanalysis.cronjob.plist</string>

<!-- define script that will run -->
  <key>ProgramArguments</key>
  <array>
    <string>/Users/sheila/Documents/github_ncsu/shellcast/analysis/shellcast_daily_analysis.sh</string>
  </array>

<!-- define working directory -->
  <key>WorkingDirectory</key>
  <string>/Users/sheila/Documents/github_ncsu/shellcast/analysis/</string>

<!-- priority of scheduler (range is -20 to 20 with default at 0) -->
  <key>Nice</key>
  <integer>10</integer>

<!-- runs at 6:00 every day but this is for debug running -->
  <key>StartCalendarInterval</key>
  <dict>
    <key>Hour</key>
    <integer>6</integer>
    <key>Minute</key>
    <integer>0</integer>
  </dict>

<!-- other settings -->
  <key>RunAtLoad</key>
  <false/>
  <key>KeepAlive</key>
  <false/>

<!-- standard error file, output will be appended (new file isn't written) -->
  <key>StandardErrorPath</key>
  <string>/Users/sheila/Documents/github_ncsu/shellcast/analysis/data/tabular/outputs/cronjob_data/shellcast_dailyanalysis_cronjob.err</string>

<!-- standard output file, output will be appended (new file isn't written) -->
  <key>StandardOutPath</key>
  <string>/Users/sheila/Documents/github_ncsu/shellcast/analysis/data/tabular/outputs/cronjob_data/shellcast_dailyanalysis_cronjob.out</string>

</dict>
</plist>
